* {
    font-family: Helvetica;
}

header {
    padding: 15px;
    background: url('data/pattern.webp');
    background-origin: content-box;
    background-repeat: no-repeat;

}

main {
    padding: 15px;
}

h1 {
    font-size: 60px;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 5px;
}

.title1 {
    background-color: mediumspringgreen;
}

.title2 {
    background-color: lightcoral;
}

.title3 {
    background-color: skyblue;
}

.emphasize {
    font-weight: bold;
    color: blue;
}